<div class="sidebar">
    <div class="row">
        <div class="col-lg-12">
            <div class="sidebar-item search animate-on-scroll">
                <form id="search_form" name="gs" method="GET" action="#">
                    <div class="auth-input-wrap site-search-wrap">
                        <input type="text" name="q" class="searchText" placeholder="Search articles..."
                               autocomplete="on">
                        <i class="fa fa-search"></i>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="sidebar-item recent-posts animate-on-scroll delay-1">
                <div class="sidebar-heading">
                    <h2>Recent Posts</h2>
                </div>
                <div class="content">
                    <ul>
                        {% for recent in recent_articles %}
                            <li><a href="post-details.html">
                                <h5>{{ recent.title }}</h5>
                                <span>{{ recent.updated_at }}</span>
                            </a></li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="sidebar-item categories animate-on-scroll delay-2">
                <div class="sidebar-heading">
                    <h2>Categories</h2>
                </div>
                <div class="content">
                    <ul>
                        {% for cat in categories  %}
                        	<li><a href="{% url 'sort_by_category' cat.title %}">- {{ cat.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="sidebar-item tags animate-on-scroll delay-3">
                <div class="sidebar-heading">
                    <h2>Tag Clouds</h2>
                </div>
                <div class="content">
                    <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">Motivation</a></li>
                        <li><a href="#">PSD</a></li>
                        <li><a href="#">Responsive</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>